<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,401},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>bloodEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,294},{5,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,13}}</string>
                <key>sourceSize</key>
                <string>{5,13}</string>
            </dict>
            <key>blueAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,170},{166,121}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{166,121}}</string>
                <key>sourceSize</key>
                <string>{166,183}</string>
            </dict>
            <key>blueAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,473},{166,141}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{166,141}}</string>
                <key>sourceSize</key>
                <string>{166,183}</string>
            </dict>
            <key>blueAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,310},{166,161}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{166,161}}</string>
                <key>sourceSize</key>
                <string>{166,183}</string>
            </dict>
            <key>blueAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,283},{166,175}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{166,175}}</string>
                <key>sourceSize</key>
                <string>{166,183}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,253},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,223},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,334},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,410},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,251},{108,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,64}}</string>
                <key>sourceSize</key>
                <string>{108,64}</string>
            </dict>
            <key>defenceUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,184},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,419},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{47,47}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,338},{135,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,55},{135,137}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{199,197}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{199,197}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{247,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,247}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,361},{47,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,71},{47,58}}</string>
                <key>sourceSize</key>
                <string>{237,202}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,106},{175,186}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{175,186}}</string>
                <key>sourceSize</key>
                <string>{237,202}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,106},{203,202}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{203,202}}</string>
                <key>sourceSize</key>
                <string>{237,202}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{209,186}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{209,186}}</string>
                <key>sourceSize</key>
                <string>{237,202}</string>
            </dict>
            <key>fixUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,145},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>obstacle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{144,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,134}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>powerAttackUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,283},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>progressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,386},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>topUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{642,102}}</string>
                <key>sourceSize</key>
                <string>{642,104}</string>
            </dict>
            <key>tribbleAttackUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,106},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,386},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>yellowAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{166,121}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{166,121}}</string>
                <key>sourceSize</key>
                <string>{166,183}</string>
            </dict>
            <key>yellowAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,451},{166,141}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{166,141}}</string>
                <key>sourceSize</key>
                <string>{166,183}</string>
            </dict>
            <key>yellowAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,419},{166,159}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{166,159}}</string>
                <key>sourceSize</key>
                <string>{166,183}</string>
            </dict>
            <key>yellowAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,251},{166,175}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{166,175}}</string>
                <key>sourceSize</key>
                <string>{166,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FireMaster.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4f49a61c7aa40f27abd3e115dcb7f98$</string>
            <key>textureFileName</key>
            <string>FireMaster.png</string>
        </dict>
    </dict>
</plist>
